.background-image {
    background-image: url('https://github.com/Valamir777/Valamir777.github.io/blob/main/Images/Farmer.jpg?raw=true');
    background-size: cover; /* Makes the image cover the entire container */
    background-position: center; /* Centers the image */
    height: 100vh; /* Full height of the viewport */
    position: relative; /* To position the overlay */
}

.background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.05); /* White overlay with 0.2 opacity */
    z-index: 1; /* Places the overlay above the background image */
}

.background-image h1, .background-image p {
    position: relative; /* Ensures text appears above the overlay */
    z-index: 2; /* Places text above the overlay */
    color: black; /* Adjust text color as needed */
}

#VIPheader {
    text-align: center;
}
header{
    background-color: darkgreen; color: rgb(0, 0, 0); font-size: x-large;
}

.credential {
    font-size: larger;
}
    
.title {
     font-size: xx-large;
}

.subtitle {
    font-size: x-large;
}

body{
    background-color: greenyellow;
}

p, .p1{
    background-color: lightgreen; color: rgb(0, 0, 0);
}

.d1, dt, dd {
    color: seagreen;
    background-color: black;
    line-height: 1.7em;
}

.icon{
    width: 120px; height: 120px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table, th, td {
    border: 1px solid rgba(255, 255, 255, 0);
    border-collapse: collapse;
                
}

th, td {
        background-color: #96d4a5a6;
    }
nav {
    margin-left: auto;
    margin-right: auto;
}
img {
    max-width: 100%;
    height: auto;
}
.left{
    float: left;
    margin-left: 250px;
    width: 20%; /* The width is 20%, by default */
}

.farright{
    float: right;
    width: 20%;
}
.right{
    float: right;
    margin-right: 250px;
    width: 20%;
}

.main {
    float: left;
    width: 60%; /* The width is 60%, by default */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
.left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}

.link {
    position: relative; /* Ensures the link appears above the overlay */
    z-index: 3; /* Higher than the overlay */
    color: blue; /* Change to your desired link color */
    text-decoration: underline; /* Optional: underline for links */
}
